environment = "Development"

s3_bucket_name = "love-bro-metronet"

s3_enable_versioning = true

s3_encryption_type = "AES256"

s3_block_public_access = true

s3_lifecycle_enabled = true

s3_lifecycle_rules = {
  transition_to_ia_days      = 30
  transition_to_glacier_days = 90
  expiration_days            = 0
}

s3_bucket_tags = {
  Environment = "Development"
  Purpose     = "ExcelStorage"
  ManagedBy   = "OpenTofu"
}

aws_region = "us-east-1"
